runs
*.pkl
data
save
*.pyc
*.sh.log*
.idea/
*__pycache__
*.pyc
.idea/*
*.so
*egg-info*
*.avi
*.pdf
*.xyz
*.zip
venv
wandb
assets/demonstrations
*.svg
.vscode
output
outputs
test_shooting
multirun
~/tmp
huggingface_model
src/plot
sim_env/mujoco/demonstrations
.pre-commit-config.yaml
cache
backup_output
misc/wandb_data
misc/wandb_output
*.DS_Store